
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}
.containers{
  width: 100%;
  height: 50vh;
  background-image: url('https://st4.depositphotos.com/1484771/37835/i/450/depositphotos_378355986-stock-photo-modern-header-hero-image-banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
 
}
.containers img{
  width: 100%;
  height: 100vh;

 
}
.buttons{
  position: absolute;
  top:30%;
  left: 70%;
  transform: translate(-50%,-50%);
}
.buttons h1{
 font-size: 10rem;
 color: rgb(117, 169, 56);
 font-family: 'Kaushan Script', cursive;
}
.auth{
  width: 100%;
  height: 100vh;
  background-image:linear-gradient(45deg, rgba(237, 235, 230, 0.7),rgba(177, 170, 172, 0.7)), url('https://img.freepik.com/premium-photo/top-view-wood-office-desk-table-flat-lay-workspace_35380-2710.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth h5{
  text-align: center;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
.auth button{
  margin-left: 100px;
  font-weight: bolder;
}
.auth button:hover{
background: rgb(187, 134, 134);
}
/* https://images.unsplash.com/photo-1560258018-c7db7645254e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjE4MjY3M30 */
.image{
  width: 100%;
  height: 70vh;
  background-image: url('https://maxhemingway.files.wordpress.com/2017/12/blog.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}

.list{
  transition: transform 500ms;

}
.list:hover{
  transform: scale(1.06);
  
}

.cards{
  transition: transform 500ms;
}

.cards:hover{
  transform: scale(1.06);
}

